@import "~normalize.css/normalize.css";

html, body {
  height: 100%;
}

body {
  //background: #0026ff;
  //color: #fff;
}

.page {

}

.header .logo {
  margin: 0;
}

.meter {
  position: absolute;
  right: 50px;
  top: 40px;
  border: 2px solid #000000;
  box-shadow: -6px 6px 0 #000000;
  width: 268px;
  background-color: #fff;
  height: 64px;
}

.meter__level {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.meter__level-active-wrapper {
  position: absolute;
  left: 9px;
  top: 8px;
  overflow: hidden;
}

.meter__levelNumber {
  color: #000;
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 50px;
  display: none;
}

.form {
    z-index: 10;
}

@import "components/*";