.browser {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 300;
}

.browser-input {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin: 0;
}

.browser-input__input {
    flex-grow: 1;
}

.browser-window {
    flex-grow: 1;
    width: 100%;
    pointer-events: none;
}

.page {
    height: 100%;
}

.browser-close {
    width: 144px;
    position: absolute;
    left: 50px;
    top: 40px;
    color: #000;
    border-color: #000;

    &:active {
        left: 50px;
        top: 40px;
    }
}